<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>會員查詢報名活動</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/paginationjs@2.6.0/dist/pagination.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/front-end/zuo-huo/css/notify.css}">

    <style>
        * {
            font-family: 'Noto Sans TC', sans-serif;
        }

        th {
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
        }

        td {
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
        }

        .page {
            position: sticky;
            bottom: 0;
        }

        /* 登入後側邊漢堡選單 */
        .btn-primary1 {
            --bs-btn-color: #fff;
            --bs-btn-bg: #abb0b7;
            --bs-btn-border-color: #abb0b7;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #787a7d;
            --bs-btn-hover-border-color: #8f9093;
            --bs-btn-focus-shadow-rgb: 49, 132, 253;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #787a7d;
            --bs-btn-active-border-color: #787a7d;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #787a7d;
            --bs-btn-disabled-border-color: #787a7d;
        }

    </style>
</head>

<body>

<div style="width: 200px" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body" style="padding: 0px; overflow-x: hidden">

        <div class="b-example-divider"></div>

        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 200px;">
            <a href="/member"
               class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-5 fw-semibold">會員首頁</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a th:href="@{/member/chat}" class="list-group-item list-group-item-action py-3 lh-tight"
                   aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">聊天</strong>
                    </div>
                </a>
                <a th:href="@{/member/chat}" class="list-group-item list-group-item-action py-3 lh-tight"
                   aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">通知</strong>
                    </div>
                </a>
                <a th:href="@{/member/venOrder}" class="list-group-item list-group-item-action py-3 lh-tight"
                   aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">場地預訂</strong>
                    </div>
                </a>
                <a th:href="@{/membership/actreview}" class="list-group-item list-group-item-action py-3 lh-tight"
                   aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">活動管理</strong>
                    </div>
                </a>
            </div>
        </div>

        <div class="b-example-divider"></div>

    </div>
</div>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <button class="btn btn-primary1 fa fa-bars" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></button>
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/Zuo-Huo}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img alt="zuo-huo" src="/front-end/zuo-huo/images/LogoName.jpg" style="width: 160px;">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/membership/ZuoHuo}"
                   class="nav-link px-2 link-secondary">首頁</a></li>
            <li><a th:href="@{/act/joinAct}" class="nav-link px-2 link-secondary">瀏覽活動</a></li>
            <li><a th:href="@{/act/createAct}" class="nav-link px-2 link-secondary">舉辦活動</a></li>
            <li><a th:href="@{front_end/venue/venue}"
                   class="nav-link px-2 link-secondary">場地租借</a></li>
            <li><a th:href="@{/faq/faqs}"
                   class="nav-link px-2 link-secondary">FAQs</a></li>
            <li><a th:href="@{/faq/faqs}"
                   class="nav-link px-2 link-secondary">關於我們</a></li>
        </ul>

        <div class="col-md-3 text-end">

            <!-- 這邊放會員登入後的選項 -->
            <div class="after-logging" th:if="${session.memId ne null}">
                <i class="icon bi bi-messenger" style="font-size: 25px; margin: 20px; color: #6161f2;"></i>

                <!-- -------------------- 通知訊息功能 下拉選單 -------------------- -->
                <i class="icon bi bi-bell-fill" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                   aria-expanded="false" style="font-size: 25px; color: #eded1e;"></i>

                <ul id="notify_ul" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li id="notify_a1"></li>
                    <li id="notify_a2"></li>
                    <li id="notify_a3"></li>
                    <li><a id="display_all" class="dropdown-item" th:href="@{front_end/notify}">顯示全部</a></li>
                </ul>
                <!-- -------------------- 通知訊息功能 下拉選單 END -------------------- -->

                <i class="icon bi bi-person-circle" id="dropdownMenuLink"
                   type="button" data-bs-toggle="dropdown" aria-expanded="false"
                   style="font-size: 40px; margin: 20px;"></i>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" th:href="@{/membership/getOne_For_Update}">個人資料</a></li>
                    <li><a id="SignOut" class="dropdown-item" th:href="@{/membership/login}">登出</a></li>
                </ul>

            </div>

        </div>
    </header>

    <main class="main">
        <div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="change btn btn-outline-dark">我的活動</button>
                <button type="button" class="change btn btn-dark">報名管理</button>
                <button type="button" class="change btn btn-outline-dark">關注管理</button>
            </div>
            <div class="d-md-flex justify-content-md-end mb-1">
                <div class="btn-group" role="group">
                    <button class="filterButton btn btn-secondary btn-sm" data-rep-status="">所有
                    </button>
                    <button class="filterButton btn btn-warning btn-sm" data-reg-status="2">審核中</button>
                    <button class="filterButton btn btn-danger btn-sm" data-reg-status="1">未通過</button>
                    <button class="filterButton btn btn-success btn-sm" data-reg-status="3">報名成功</button>
                    <button class="historyButton btn btn-dark btn-sm" data-act-status="1">歷史紀錄</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover shadow-sm">
                <caption id="count">筆</caption>
                <thead class="thead-inverse table-primary">
                <tr>
                    <th>活動編號</th>
                    <th>活動名稱</th>
                    <th>活動詳情</th>
                    <th>開始時間
                        <select id="time">
                        	<option value="ASC">近到遠</option>
                            <option value="DESC">遠到近</option>
                        </select>
                    </th>
                    <th>審核狀態</th>
                    <th>報名狀態</th>
                    <th>活動狀態</th>
                </tr>
                </thead>
                <tbody id="actreg">

                </tbody>
            </table>
        </div>

        <div class="page fixed-bottom">
            <div class="container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link">上一頁</a>
                        </li>
                        <li class="page-item">
                            <!--                <a class="page-link" href="#">1</a>-->
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">下一頁</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>

<div class="footer container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">首頁</a></li>
            <li class="nav-item"><a href="customer.html" class="nav-link px-2 text-muted">客服中心</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link px-2 text-muted">關於我們</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Zuo-Huo</p>
    </footer>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>

<script src="https://cdn.tiny.cloud/1/tus9t8o6mklmhwd5c0iaejn9394stnli5i0j2ic9bb4xurm0/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script src="https://cdn.jsdelivr.net/npm/paginationjs@2.6.0/dist/pagination.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dealfonso/power-buttons/dist/powerbuttons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(function () {
        checkActReg();
    })

    let statusMap = {
        "1": "未通過",
        "2": "審核中",
        "3": "報名成功"
    };
    let regStatus; // 狀態預設
    let pageNumber = 1; //第幾頁預設(進function會 -1 所以會變0)
    let actTime = "ASC"; // 排序預設
    // let size = 5; //顯示筆數預設
    //歷史紀錄
    let actStatus;

    //審核狀態篩選
    $(".filterButton").click(function () {
        pageNumber = 1; //龜0 不然原先在所有然後第二頁 再進狀態篩選會有問題
        regStatus = $(this).data("regStatus");
        actStatus = null;
        checkActReg(pageNumber, actTime, regStatus, actStatus);
    });

    //歷史紀錄
    $(".historyButton").click(function () {
        pageNumber = 1; //龜0 不然原先在所有然後第二頁 再進狀態篩選會有問題
        actStatus = $(this).data("actStatus");
        checkActReg(pageNumber, actTime, null, actStatus);
    });

    //時間排序
    $("#time").change(function () {
        actTime = $("#time").val();
        if (actStatus) {
            regStatus = null;
        }
        checkActReg(pageNumber, actTime, regStatus, actStatus);
    });

    //分頁
    function loadPage(newPageNumber, actTime, regStatus, actStatus) {
        pageNumber = newPageNumber;
        checkActReg(pageNumber, actTime, regStatus, actStatus);
    }

    //多顯示5筆
    // function plusFive() {
    //     size += 5;
    //     checkActReg(pageNumber, actTime, regStatus, size);
    // }

    //查會員報名的所有活動
    function checkActReg(pageNumber, actTime, regStatus, actStatus) {
        let url = "/actreg";

        if (regStatus !== undefined && regStatus !== null) {
            url = url + `?regStatus=${regStatus}`;

        }
        if (actStatus !== undefined && actStatus !== null) {
            url = url + `?actStatus=${actStatus}`;
        }

        $.ajax({
            url: url,
            type: 'GET',
            data: {
                page: pageNumber - 1,
                sortDirection: actTime
                // size: size
            },
            dataType: 'json',
            contentType: 'application/json',
            success: function (actRegsPageable) {
                let actregHTML = "";
                let pageCount = 0;

                let actRegs = actRegsPageable.content;
                let totalElements = actRegsPageable.totalElements; //總數量
                let totalPages = actRegsPageable.totalPages; //總頁數
                let size = actRegsPageable.size; //顯示幾筆
                let number = actRegsPageable.number; //第幾頁
                let first = actRegsPageable.first;
                let last = actRegsPageable.last;

                nextPage(totalPages, actTime, regStatus, actStatus);

                //在哪頁就將那頁的按鈕加顏色
                $(".number").each(function () {
                    if ($(this).text() === (number + 1).toString()) {
                        $(this).addClass("active");
                    }
                })

                //判斷上下頁可不可以按
                if (!first || !last) {
                    $("#first").removeClass("disabled")
                    $("#last").removeClass("disabled")
                }
                if (first) {
                    $("#first").addClass("disabled")
                }
                if (last) {
                    $("#last").addClass("disabled")
                }

                let actStatusMap = {
                    "1": "已結束",
                    "2": "已取消",
                    "3": "進行中",
                    "4": "報名中",
                }

                actRegs.forEach(function (actReg) {
                    let statusChinese = statusMap[actReg.regStatus];
                    let actStatusChinese = actStatusMap[actReg.act.actStatus];

                    let endTime = new Date(actReg.act.actStartTime);
                    let now = new Date();
                    let diff = endTime - now;
                    let days = Math.floor(diff / (1000 * 60 * 60 * 24))

                    if (actReg.regStatus !== 4) { //4 = 自己取消報名 就不用再顯示給使用者看到
                        actregHTML +=
                            `<tr class="pb-5 pt-5">
                                <td><span class="badge rounded-circle bg-dark">${actReg.act.actId}</span></td>
                                <td><span class="fw-bold">${actReg.act.actName}</span></td>
                                <td>
                                    <button class="rounded-pill btn btn-info" data-act-id="${actReg.act.actId}" onclick="view(this)">查看</button>
                                </td>
                                <td>
                                <span>${actReg.act.actStartTime}</span>
                                <small class="badge ${days > 0 ? "bg-success" : "bg-warning"} text-wrap">${days > 0 ? days + "天後" : "已結束"}</small>
                                </td>
                                <td class="status">${statusChinese}</td>
                                <td>
                                    <button class="delbtn rounded-pill btn btn-danger"
                                    data-act-id="${actReg.act.actId}" data-actreg-status="${actReg.regStatus}" onclick="del(this)">取消
                                    </button>
                                </td>
                                <td class="actStatus pb-3">${actStatusChinese}</td>
                            </tr>`;

                        pageCount++;
                    }
                });
                $("#actreg").html(actregHTML);

                let count = $("#count");
                count.html(`${pageCount}筆`);

                $(".status").each(function () {

                    let delbtn = $(this).closest('tr').find(".delbtn");

                    switch ($(this).text()) {
                        case "審核中":
                            $(this).addClass("text-warning");
                            break;
                        case "報名成功":
                            $(this).addClass("text-success");

                            delbtn.text("報名成功");
                            delbtn.removeClass("btn-danger");
                            delbtn.addClass("btn-success");
                            delbtn.addClass("disabled");
                            break;
                        case "未通過":
                            $(this).addClass("text-danger");

                            delbtn.text("未通過");
                            delbtn.addClass("disabled");
                            break;
                    }
                })

                $(".actStatus").each(function () {
                    switch ($(this).text()) {
                        case "已結束":
                            $(this).addClass("text-danger");
                            $(this).closest("tr").find(".delbtn").addClass("disabled");
                            break;
                        case "已取消":
                            $(this).addClass("text-warning");
                            $(this).closest("tr").find(".delbtn").addClass("disabled");
                            break;
                        case "進行中":
                            $(this).addClass("text-primary");
                            $(this).closest("tr").find(".delbtn").addClass("disabled");
                            break;
                        case "報名中":
                            $(this).addClass("text-success");
                            break;
                    }
                });
            },
            error(xhr, status, error) {
            }
        })
    }

    //查看活動詳情
    function view(e) {
        let actId = $(e).data("actId");
        window.location.href = `/activity/${actId}`;
    }

    //取消報名
    function del(e) {
        let btn = $(e);
        let actId = btn.data("actId");
        let actregStatus = btn.data("actregStatus");

        // 3 = 報名審核通過 不給再取消 防止用戶搞事
        if (actregStatus === 3) {
            return;
        }

        Swal.fire({
            title: "要取消報名嗎?",
            width: "300px",
            showCancelButton: true,
            confirmButtonText: "確定",
            cancelButtonText: "取消"
        }).then((result) => {
            if (result.isConfirmed) {
                unsignupData = {
                    actId: actId,
                    regStatus: 4
                }
                $.ajax({
                    url: "/actreg",
                    type: "PUT",
                    data: JSON.stringify(unsignupData),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (actReg) {
                        btn.text("已取消");
                        btn.addClass("disabled");
                    },
                    error(xhr, status, error) {
                        console.error(status, error);
                    }
                });
            }
        });
    }

    function nextPage(totalPages, actTime, regStatus, actStatus) {
        let pageHTML = "";
        for (let i = 0; i < totalPages; i++) {
            pageHTML +=
                `<li  class="page-item">
                <a class="number page-link" href="#" onclick="loadPage(${i + 1},'${actTime}',${regStatus},${actStatus}); return false;">${i + 1}</a>
                </li>`;
        }

        $(".pagination").html(pageHTML); //插入頁碼
        $(".pagination").prepend('<li id="first" class="page-item disabled"><a class="page-link" href="#" onclick="previous()">上一頁</a></li>'); //將上一頁插入
        $(".pagination").append('<li id="last" class="page-item"><a class="page-link" href="#" onclick="next()">下一頁</a></li>');  //將下一頁插入
    }

    //下一頁
    function next() {
        pageNumber++;
        checkActReg(pageNumber, actTime, regStatus, actStatus)
    }

    //上一頁
    function previous() {
        pageNumber--;
        checkActReg(pageNumber, actTime, regStatus, actStatus);
    }

    //頁籤切換
    $(".change").click(function () {
        switch ($(this).text()) {
            case "報名管理":
                window.location.href = `/membership/actregistration`;
                break;
            case "我的活動":
                window.location.href = `/membership/actreview`;
                break;
            case "關注管理":
                window.location.href = `/membership/actfollow`;
                break;
        }
    });

    //------------------------ 登出 -------------------------
    document.getElementById("SignOut").addEventListener("click",
        function () {
            // 使用 XMLHttpRequest 或 Fetch API 發送登出請求到後端
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/membership/logout", true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    webSocket.close();
                    // 處理登出成功的回應，這裡將重新導向到登入頁面
                    window.location.href = "/membership/login"; // 重新導向到登入頁面
                }
            };

            xhr.send();
        });
</script>

</body>

</html>