<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>場地租借</title>
<!-- 引入 Bootstrap CSS 文件 -->

<link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
            rel="stylesheet">
            
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />


<script
	src="https://cdn.tiny.cloud/1/tus9t8o6mklmhwd5c0iaejn9394stnli5i0j2ic9bb4xurm0/tinymce/6/tinymce.min.js"
	referrerpolicy="origin"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@2/dist/tinymce-jquery.min.js"></script>


<script
	src="
https://cdn.jsdelivr.net/npm/paginationjs@2.6.0/dist/pagination.min.js
"></script>
<link
	href="
https://cdn.jsdelivr.net/npm/paginationjs@2.6.0/dist/pagination.min.css
"
	rel="stylesheet">

<script
	src="https://cdn.jsdelivr.net/gh/dealfonso/power-buttons/dist/powerbuttons.min.js"></script>


<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
	rel="stylesheet" />
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <link rel="stylesheet" th:href="@{/front-end/zuo-huo/css/notify.css}">
    <link rel="stylesheet" th:href="@{/front-end/zuo-huo/css/ann.css}">
    
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Noto Sans TC', sans-serif;
        }

        main {
            min-height: calc(100vh - 70px);
            /* 設定 main 區域的最小高度，確保 footer 固定在底部 */
        }

        #latest2 a {
            color: black;
            /* 文字顏色 */
        }

        #latest a {
            color: black;
            /* 文字顏色 */
        }

        #buttons a {
            margin-right: 150px;
            /* 調整您需要的間距值 */
            margin-left: 150px;
        }

        .col:hover {
            transform: scale(1.1);
            transition: .3s;
        }

        /* 隱藏右上角icon */
        /* .icon{
                  display: none;
                } */
        .announcement-bar {
            background-color: #f8f9fa;
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }

        /* 彈窗的基本樣式 */
        .popup {
            display: none;
            /* 初始不顯示 */
            position: fixed;
            z-index: 1;
            /* 在其他內容之上 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            /* 背景色 */
            background-color: rgba(0, 0, 0, 0.4);
            /* 黑色背景，略透明 */
        }

        /* 彈窗內容 */
        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% 從上方開始 */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            /* 寬度 */
        }

        /* 關閉按鈕 */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover, .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .useshadow {
            text-shadow: 1px 1px 3px #d8d2d2, 5px 3px 0 #cfcdcd;
        }

        .custom-img-height {
            height: 200px;
            object-fit: cover;
            width: 100%;
        }


        /* 登入後側邊漢堡選單 */
        #offcanvas-btn {
            --bs-btn-color: #fff;
            --bs-btn-bg: #abb0b7;
            --bs-btn-border-color: #abb0b7;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #787a7d;
            --bs-btn-hover-border-color: #8f9093;
            --bs-btn-focus-shadow-rgb: 49, 132, 253;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #787a7d;
            --bs-btn-active-border-color: #787a7d;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #787a7d;
            --bs-btn-disabled-border-color: #787a7d;
        }

        /* 登入前註冊按鈕 */
        .btn-primary2 {
            --bs-btn-color: #fff;
            --bs-btn-bg: #0d6efd;
            --bs-btn-border-color: #0d6efd;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #0d6efd;
            --bs-btn-hover-border-color: #0d6efd;
            --bs-btn-focus-shadow-rgb: 49, 132, 253;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #0d6efd;
            --bs-btn-active-border-color: #0d6efd;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #0d6efd;
            --bs-btn-disabled-border-color: #0d6efd;

        }


    </style>

<style>
main {
	min-height: calc(100vh - 70px);
}

#top {
	margin-bottom: 30px;
}

/* ===== 重要性的星號 ===== */
div.star_block {
	display: inline-block;
}

div.star_block>span.star {
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;
}

div.star_block>span.star.-on {
	color: yellow;
}

div.star_block>span.star.-off {
	color: white;
}

.ven-card:hover {
	cursor: pointer;
}

.paginationjs .paginationjs-pages {
	display: inline-block;
	float: none;
}

.paginationjs {
	margin-top: 50px;
	text-align: center;
	display: block;
}

.ven-card {
	display: flex;
	height: 425px;
}

.recent-ven-card {
	display: flex;
	height: 100px;
	width: 100px;
	height:150px;
}

.card-body {
	display: inline-block;
	margin-top: auto;
	max-height: 200px;
}

.form-control {
	width: 200px;
}

.select2-container--open {
	z-index: 9999999;
}

.active {
	background-color: grey;
	color: white;
}

.sort-btn{
	font-size: 20px;
}
</style>
</head>

<body>

	<form method="get" style="display:none" id="venForm" th:action="@{addVenOrder}">
		<input id="selectVen" type="number" th:name="venId" /> <input
			type="submit" />
	</form>
	

		<div style="width: 200px" class="offcanvas offcanvas-start"
     tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body" style="padding: 0px; overflow-x: hidden">

        <div class="b-example-divider"></div>

        <div
                class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
                style="width: 200px;">
            <a href="/member"
               class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-5 fw-semibold">會員首頁</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a th:href="@{/member/chat}"
                   class="list-group-item list-group-item-action py-3 lh-tight"
                   aria-current="true">
                    <div
                            class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">聊天</strong>
                    </div>
                </a> <a th:href="@{/front_end/notify}"
                        class="list-group-item list-group-item-action py-3 lh-tight"
                        aria-current="true">
                <div
                        class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">通知</strong>
                </div>
            </a> <a th:href="@{/member/venOrder}"
                    class="list-group-item list-group-item-action py-3 lh-tight"
                    aria-current="true">
                <div
                        class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">場地預訂</strong>
                </div>
            </a>
                <a th:href="@{/membership/actreview}" class="list-group-item list-group-item-action py-3 lh-tight"
                   aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">活動管理</strong>
                    </div>
                </a>
            </div>
        </div>

        <div class="b-example-divider"></div>

    </div>
</div>

<div class="container">
    <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <div class="after-logging" th:if="${session.memId ne null}">
            <button id="offcanvas-btn" class="btn btn-primary fa fa-bars" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample"></button>
        </div>

        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/Zuo-Huo}"
               class="d-inline-flex link-body-emphasis text-decoration-none">
                <img alt="zuo-huo" src="/front-end/zuo-huo/images/LogoName.jpg"
                     style="width: 160px;">
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/membership/ZuoHuo}"
                   class="nav-link px-2 link-secondary">首頁</a></li>
            <li><a th:href="@{/act/joinAct}" class="nav-link px-2 link-secondary">瀏覽活動</a></li>
            <li><a th:href="@{/act/createAct}" class="nav-link px-2 link-secondary">舉辦活動</a></li>
            <li><a th:href="@{/front_end/venue/browse}" class="nav-link px-2 link-secondary">場地租借</a></li>
            <li><a th:href="@{/faq/faqs}"
                   class="nav-link px-2 link-secondary">FAQs</a></li>
            <li><a th:href="@{/faq/faqs}"
                   class="nav-link px-2 link-secondary">關於我們</a></li>
        </ul>


        <div class="col-md-3 text-end">

            <!-- 這邊放會員登入後的選項 -->
            <div class="after-logging" th:if="${session.memId ne null}">
                <a th:href="@{/member/chat}"><i class="icon bi bi-messenger"
                   style="font-size: 28px; margin: 20px; color: #6161f2;"></i></a>

                <!-- -------------------- 通知訊息功能 下拉選單 -------------------- -->
                <i class="icon bi bi-bell-fill" type="button"
                   id="dropdownMenuButton1" data-bs-toggle="dropdown"
                   aria-expanded="false" style="font-size: 28px; color: #eded1e;"></i>

                <ul id="notify_ul" class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1">
                    <li id="notify_a1"></li>
                    <li id="notify_a2"></li>
                    <li id="notify_a3"></li>
                    <li><a id="display_all" class="dropdown-item"
                           th:href="@{/front_end/notify}">顯示全部</a></li>
                </ul>
                <!-- -------------------- 通知訊息功能 下拉選單 END -------------------- -->

                <!-- class拿掉dropdown-toggle 有問題再加回來 -->
                <i class="icon bi bi-person-circle" id="dropdownMenuLink"
                   type="button" data-bs-toggle="dropdown" aria-expanded="false"
                   style="font-size: 40px; margin: 20px;"></i>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item"
                           th:href="@{/member}">個人資料</a></li>
                    <li><a id="SignOut" class="dropdown-item" th:href="@{/membership/login}">登出</a></li>
                </ul>

            </div>

            <div class="after-logging" th:unless="${session.memId ne null}">
                <button type="button" class="btn btn-outline-primary me-2">
                    <a class="nav-link" th:href="@{/membership/logging}">登入</a>
                </button>
                <button type="button" class="btn btn-primary2">
                    <a class="nav-link" th:href="@{/membership/addMembership}">註冊</a>
                </button>
            </div>
        </div>

    </header>
</div>





	<main id="top" class="container mt-5">
		<section id="venue-rental" class="mt-5 text-center">
			<h1>場地租借</h1>
			<h6>歡迎您租借我們的場地！</h6>
			
						
			<div style="margin-left: 50px; margin-top: 30px; margin-bottom: 30px">
						<h5>您最近瀏覽的場地</h5>
						<div id="recent-vens" class="row"></div>		
			</div>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">
							<div style="width: 100%; font-size: 24px" class="text-center">
								<b>搜尋場地</b>
							</div>
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse"
						aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<form>

								<div class="accordion" id="accordionBasic">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingBasic">
											<button class="accordion-button" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseBasic"
												aria-expanded="true" aria-controls="collapseBasic">
												<div style="width: 100%" class="text-center">
													<b>基本搜尋</b>
												</div>
											</button>
										</h2>
										<div id="collapseBasic" class="accordion-collapse collapse"
											aria-labelledby="headingBasic"
											data-bs-parent="#accordionBasic">
											<div class="accordion-body">
												<div class="row g-3 text-center" style="margin-bottom: 20px">
													<div class="col">
														<label for="s-name" style="margin-right: 20px">名稱</label>
														<input style="display: inline-block" class="form-control"
															id="s-name" type="text">
													</div>
													<div class="col">
														<label for="s-type"
															style="margin-right: 27px; margin-left: 7px">類別</label> <select
															class="form-select" id="s-type">
															<option selected value="全類別">全類別</option>
														</select>
													</div>
												</div>
												<div class="row g-3 text-center">
													<div class="col">
														<label for="s-city"
															style="margin-right: 27px; margin-left: 60px">市</label> <select
															class="form-select" id="s-city">
															<option selected value="全市">全市</option>
														</select>
													</div>
													<div class="col">
														<label for="s-district"
															style="margin-right: 27px; margin-left: 23px">區</label> <select
															class="form-select" id="s-district">
															<option selected value="全區">全區</option>
														</select>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>

								<div class="accordion" id="accordionAdvanced">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingAdvanced">
											<button class="accordion-button" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseAdvanced"
												aria-expanded="true" aria-controls="collapseAdvanced">
												<div style="width: 100%" class="text-center">
													<b>進階搜尋</b>
												</div>
											</button>
										</h2>
										<div id="collapseAdvanced" class="accordion-collapse collapse"
											aria-labelledby="headingAdvanced"
											data-bs-parent="#accordionAdvanced">
											<div class="accordion-body">


												<div class="row g-3 text-center" style="margin-bottom: 20px">
													<div class="col">
														<label for="s-lprice" style="margin-right: 20px">最低租金</label>
														<input step="1" type="number" inputmode="numeric"
															oninput="this.value = this.value.replace(/\D+/g, '')"
															style="display: inline-block" class="form-control lower"
															id="s-lprice">
													</div>
													<div class="col">
														<label for="s-hprice" style="margin-right: 20px">最高租金</label>
														<input step="1" type="number" inputmode="numeric"
															oninput="this.value = this.value.replace(/\D+/g, '')"
															style="display: inline-block" class="form-control upper"
															id="s-hprice">
													</div>
												</div>
												<div class="row g-3 text-center" style="margin-bottom: 20px">
													<div class="col">
														<label for="s-lrating" style="margin-right: 20px">最低評分</label>
														<input step="1" min="1" max="5" type="number"
															inputmode="numeric"
															oninput="this.value = this.value.replace(/\D+/g, '')"
															style="display: inline-block" class="form-control lower"
															id="s-lrating">
													</div>
													<div class="col">
														<label for="s-hrating" style="margin-right: 20px">最高評分</label>
														<input step="1" min="1" max="5" type="number"
															inputmode="numeric"
															oninput="this.value = this.value.replace(/\D+/g, '')"
															style="display: inline-block" class="form-control upper"
															id="s-hrating">
													</div>
												</div>
												<div class="row g-3 text-center" style="margin-bottom: 20px">
													<div class="col" style="margin-right: 62px">
														<label for="s-lcount" style="margin-right: 20px">最低評分人數</label>
														<input step="1" type="number" inputmode="numeric"
															oninput="this.value = this.value.replace(/\D+/g, '')"
															style="display: inline-block" class="form-control lower"
															id="s-lcount">
													</div>
													<div class="col">
														<label for="s-hcount" style="margin-right: 20px">最高評分人數</label>
														<input step="1" type="number" inputmode="numeric"
															oninput="this.value = this.value.replace(/\D+/g, '')"
															style="display: inline-block; margin-right: 62px"
															class="form-control upper" id="s-hcount">
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>


								<div style="margin-top: 30px" class="text-center">
									<span style="margin-right: 20px"><button
											class="btn btn-secondary" id="s-clear" type="reset">清除</button></span><span><button
											class="btn btn-primary" id="search" type="button">搜尋</button></span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div style="margin-bottom: 20px;" class="container mt-3">
				<div class="btn-toolbar row" role="toolbar"
					aria-label="Toolbar with button groups">
					<div class="btn-group me-2 col-2" role="group" aria-label="Third group">
						<button id="high-rating-btn" type="button"
							class="active sort-btn  btn btn-outline-secondary" data-filter="">最高評價</button>
					</div>
					<div class="btn-group me-2 col-2" role="group" aria-label="Second group">
						<button id="low-price-btn" type="button"
							class="sort-btn  btn btn-outline-secondary" data-filter="">最低價格</button>
					</div>
				</div>
			</div>
			
			<div id="venues">
				<div id="venues-body"></div>
			</div>
		</section>
	</main>


	<script th:inline="javascript">
		/*<![CDATA[*/	
			let memId = /*[[${session.memId}]]*/'';
		/*]]>*/
	</script>
	
	<script>
	async function loadRecentVens(){
	if(memId){
		await fetch("/ven/recent", {
			method: "POST",
			body: JSON.stringify({memId: memId})
		}).then(function(response){
			return response.json();
		}).then(async function(recentVens){
			
			if(!recentVens.length){
				$(`#recent-vens`).hide();
				return;
			}
			for(recentVen of recentVens){
				let ven = await getVen(recentVen.venId);
				
				$(`#recent-vens`).append(`<div class="col col-2" style="margin-top:20px">
    					<div class="card recent-ven-card ven-card text-center" data-venid="${ven.venId}">
    					<img src="${ven.venPic? 'data:image/png;base64,' + ven.venPic: '/front-end/01/images/notfind.jpg'}"
    						class="card-img-top ven-img recentVenPic${ven.venId}" alt="...">
    					<div class="card-body">
    						<h6 class="card-title ven-name">${ven.venName}</h6>
    						</div>
    				</div>
    			</div>`);
			}
			return vens;
		});	
	}
	}
	
	</script>
	

	<script>

let vens = [];
let groupedVens = [];
let isSearch = false;


$(".sort-btn").on("click", function(){
	$(".sort-btn").removeClass("active");
	$(this).addClass("active");
});

$("#high-rating-btn").on("click", function(){
	vens = highRatingSort(vens);
	groupVens();
	displayVens();
});

$("#low-price-btn").on("click", function(){
	vens = lowPriceSort(vens);
	groupVens();
	displayVens();
});


async function getVens(){
	vens = await fetch("/ven/all", {
		method: "GET"
	}).then(function(response){
		return response.json();
	}).then(function(vens){
		return vens.filter(ven => ven.venStatus == 2);
	});	

	if(isSearch){
		filterVens();
	}
	isSearch = false;
	groupVens();
}

async function loadVenPics(){
	for(ven of vens){
	await fetch("/ven/getById", {
		method: "POST",
		body: JSON.stringify({venId: ven.venId})
	}).then(function(response){
		return response.json();
	}).then(function(ven){
		$(`.venPic${ven.venId}`).attr("src", ven.venPic? "data:image/png;base64," + ven.venPic: "/front-end/01/images/notfind.jpg");
	});
	}
}


function groupVens(){
	groupedVens = [];
	for(let i = 0; i < vens.length; i += 4){
		for(let j = 0; j < 4; j++){
			let ven = vens[i+j];
			if(j == 0){
				groupedVens.push([]);
			}
			if(ven){
				if(i>0){
					groupedVens[i/4].push(ven);
				} else{
					groupedVens[0].push(ven);
				}
			}
		}
	}
	
		
}


function filterVens(){

    
	if($("#s-name").val().trim()){
		let name = $("#s-name").val().trim().toLowerCase();
		vens = vens.filter(ven => ven.venName.toLowerCase().startsWith(name));
	}
	
    let types = [];
    
    $("#s-type option:selected").each(function( index ){
    	types.push($(this).text().toLowerCase());
    });
    
    if(types.length){
    	vens = vens.filter(ven => types.includes(ven.venType.venTypeName.toLowerCase()));
    }
    
    
    if($('#s-city').select2('data')[0]?.text !== "全市"){	    	
    	vens = vens.filter(ven => ven.venCity.toLowerCase() == $('#s-city').select2('data')[0]?.text.toLowerCase());
    }
 
    if($('#s-district').select2('data')[0]?.text !== "全區"){
    	vens = vens.filter(ven => ven.venDistrict.toLowerCase() == $('#s-district').select2('data')[0]?.text.toLowerCase());
    }
    else{
    	if($('#s-city').select2('data')[0]?.text === "臺北"){
    		vens = vens.filter(ven => taipei.includes(ven.venDistrict.toLowerCase()));
    	}
    
    	if($('#s-city').select2('data')[0]?.text === "桃園"){
    		vens = vens.filter(ven => taoyuan.includes(ven.venDistrict.toLowerCase()));
    	}
    
   		if($('#s-city').select2('data')[0]?.text === "臺中"){
    		vens = vens.filter(ven => taichung.includes(ven.venDistrict.toLowerCase()));
    	}
    }
    
	if(!!$("#s-lprice").val()){
		vens = vens.filter(ven => ven.venPrice >= parseInt($("#s-lprice").val()));
	}
	
	if(!!$("#s-hprice").val()){
		vens = vens.filter(ven => ven.venPrice <= parseInt($("#s-hprice").val()));
	}
	
	if(!!$("#s-lrating").val()){
		vens = vens.filter(ven => ven.venRating >= parseInt($("#s-lrating").val()));
	}
	
	if(!!$("#s-hrating").val()){
		vens = vens.filter(ven => ven.venRating <= parseInt($("#s-hrating").val()));
	}
	    
	if(!!$("#s-lcount").val()){
		vens = vens.filter(ven => ven.venRateCount >= parseInt($("#s-lcount").val()));
	}   
	
	if(!!$("#s-hcount").val()){
		vens = vens.filter(ven => ven.venRateCount <= parseInt($("#s-hcount").val()));
	}  
	


}



function lowPriceSort(data) {
    return data.sort(function (a, b) {
        if (a.venPrice > b.venPrice) {
            return 1;
        }
        if (a.venPrice < b.venPrice) {
            return -1;
        }
        return 0;
    });
}

function highRatingSort(data) {
    return data.sort(function (a, b) {
        if (a.venRating < b.venRating) {
            return 1;
        }
        if (a.venRating > b.venRating) {
            return -1;
        }
        return 0;
    });
}


async function loadVens(){
	await getVens();
	$("#high-rating-btn").click();
	displayVens();
}

function displayVens(){

	if(!vens.length){
		$("#venues-body").html("");
		$("#venues-body").append(`<div style="margin-top:100px; margin-bottom:50px"><h2>暫無搜尋到可以出租的場地</h2></div>`);
		return;
	}
	$('#venues').pagination({
	    dataSource: groupedVens,
	    pageSize: 3,
	    callback: async function(vens, pagination) {

	    	$("#venues-body").html("");
	    	
// 	    	if(!vens.length){
// 	    		$("#venues-body").append(`<div style="margin-top:100px; margin-bottom:50px"><h2>暫無搜尋到可以出租的場地</h2></div>`);
// 	    	}
	        for (let i = 0; i < vens.length; i++) {
	        	for(let j = 0; j < 4; j++){
	        		let ven = vens[i][j];
	        		if(j == 0){
	        			$("#venues-body").append(`<div id="ven-row-${i}" class="row" style="margin-left:75px; width:1000px"></div>`);
	        		}
	        		
	        		if(ven){
	        			$(`#ven-row-${i}`).append(`<div class="col col-3" style="margin-top:50px">
	        					<div class="card ven-card text-center" data-venid="${ven.venId}">
	        					<img src="${ven.venPic? 'data:image/png;base64,' + ven.venPic: '/front-end/01/images/notfind.jpg'}"
	        						class="card-img-top ven-img venPic${ven.venId}" alt="...">
	        					<div class="card-body">
	        						<h5 class="card-title ven-name">${ven.venName}</h5>
	        						<h5 class="card-title ven-type">${ven.venType.venTypeName}</h5>
	        						<h5 class="card-title ven-loc">${ven.venCity} ${ven.venDistrict}</h5>
	        						<h5 class="card-title ven-price">一天 $${ven.venPrice}</h5>
	        						<div class="star_block">
	        							<span
	        								class="star ${ven.venTotRating/ven.venRateCount >= 0.25? '-on': ''}"><i
	        								class="fa fa-star ${ven.venTotRating/ven.venRateCount >= 0.25 && ven.venTotRating/ven.venRateCount < 0.75? 'fa-star-half-o': ''}"></i></span>
	        							<span
	        								class="star ${ven.venTotRating/ven.venRateCount >= 1.25? '-on': ''}"><i
	        								class="fa fa-star ${ven.venTotRating/ven.venRateCount >= 1.25 && ven.venTotRating/ven.venRateCount < 1.75? 'fa-star-half-o': ''}"></i></span>
	        							<span
	        								class="star ${ven.venTotRating/ven.venRateCount >= 2.25? '-on': ''}"><i
	        								class="fa fa-star ${ven.venTotRating/ven.venRateCount >= 2.25 && ven.venTotRating/ven.venRateCount < 2.75? 'fa-star-half-o': ''}"></i></span>
	        							<span
	        								class="star ${ven.venTotRating/ven.venRateCount >= 3.25? '-on': ''}"><i
	        								class="fa fa-star ${ven.venTotRating/ven.venRateCount >= 3.25 && ven.venTotRating/ven.venRateCount < 3.75? 'fa-star-half-o': ''}"></i></span>
	        							<span
	        								class="star ${ven.venTotRating/ven.venRateCount >= 4.25? '-on': ''}"><i
	        								class="fa fa-star ${ven.venTotRating/ven.venRateCount >= 4.25 && ven.venTotRating/ven.venRateCount < 4.75? 'fa-star-half-o': ''}"></i></span>
	        								<span>${ven.venRateCount == 0? "無評分": Math.round((ven.venTotRating/ven.venRateCount)*100)/100 + " (" + ven.venRateCount + ")"}</span>
	        							
	        						</div>
	        						</div>
	        				</div>
	        			</div>`);
	        		}
	        	}
	        }
	        await loadVenPics();
	    }
	});
}

</script>

	<script>

$(document).ready(async function(){
	await loadRecentVens();
	await loadVenTypes();
	await loadVens();
});

</script>


	<!-- searching -->
	<script>
$(".lower").on("change", function(){
    let upper = $(this).closest("div.row").find(".upper");      
    upper.attr("min", $(this).val());
    if(parseInt(upper.val()) < parseInt($(this).val())){
	    upper.val($(this).val());
    }
});

$(".upper").on("change", function(){
    let lower = $(this).closest("div.row").find(".lower");
    if(parseInt(lower.val()) > parseInt($(this).val())){
    	$(this).val(lower.val());
    }
});


let sorter = function(data) {
    return data.sort(function (a, b) {
    	if(b.text == "全類別") return 1;
        if (a.text.toLowerCase() > b.text.toLowerCase()) {
            return 1;
        }
        if (a.text.toLowerCase() < b.text.toLowerCase()) {
            return -1;
        }
        return 0;
    });
}

async function loadVenTypes(){
	await fetch("/ventype/all").then(function(response){
		return response.json();
	}).then(function(result){

		let data = $.map(result, function (item) {
	    	return {
	        	text: item.venTypeName,
	        	id: item.venTypeId
	    	};
		});
	    
	    $("#s-type").empty().trigger('change');
	    let option = new Option("全類別", "全類別", true, true);
	    $("#s-type").append(option).trigger('change');
		$('#s-type').select2({sorter:sorter, data: data, width: '50%', multiple: true, allowClear: true, placeholder: "請選場地類別"});
		$("#s-type > option").prop("selected", false);
		$("#s-type").val('').trigger('change'); 
	});
}

$('#s-type').on("select2:select", function (e) { 
    var data = e.params.data.text;

    if(data=='全類別'){
    	$("#s-type > option").prop("selected", false);
     $("#s-type > option").filter(function(index ) {
    	    return $(this).text() != "全類別";
     }).prop("selected","selected");
     $("#s-type").trigger("change");
    }
});




let cities = ["臺北市", "桃園市", "臺中市"];
let taoyuan = ["桃園區", "中壢區", "八德區", "平鎮區", "大溪區", "楊梅區", "龜山區", "蘆竹區", "大園區", "觀音區", "新屋區", "龍潭區", "復興區"];
let taipei = ["北投區", "士林區", "中山區", "內湖區", "大同區", "松山區", "萬華區", "中正區", "大安區", "信義區", "南港區", "文山區"];
let taichung = ["中區", "北區", "西區", "東區", "南區", "北屯區", "西屯區", "南屯區"];
let option = new Option("全區", "全區", true, true);

$('#s-city').select2({data: cities, width: '50%'});


$('#s-district').select2({width: '50%'});


$('#s-city').on('select2:select', function (e) {

    let data = e.params.data;
    
    $("#s-district").empty();
    
    $("#s-district").append(option).trigger('change');

    if(data.id == "臺北市"){
    	$("#s-district").select2({
    		data: taipei, width: '50%'
    	});
    } else if(data.id == "桃園市"){
    	$("#s-district").select2({
    		data: taoyuan, width: '50%'
    	});
    } else if(data.id == "臺中市"){
    	$("#s-district").select2({
    		data: taichung, width: '50%'
    	});
    }
});




$("#s-clear").on("click", async function(){
	$("#s-hprice").attr("min", 0);
	$("#s-hrating").attr("min", 1);
	
	$('#s-city').val('全市').trigger('change');
    $("#s-district").empty();	    
    $("#s-district").append(option).trigger('change');
	
    await loadVenTypes(); 
    await loadVens();

});


$("#search").on("click", async function(){
	isSearch = true;
	await loadVens();
});


async function getVen(venId){
	return await fetch("/ven/getById", {
		method: "POST",
		body: JSON.stringify({venId: venId})
	}).then(function(response){
		return response.json();
	}).then(function(ven){
		console.log(ven);
		return ven;
	});	
}

$(document).on("click", ".ven-card", async function(){
	
	let venId = $(this).attr("data-venid");
		
	if(memId){		
		await fetch("/ven/addRecent", {
			method: "POST",
			body: JSON.stringify({venId: venId, memId: memId})
		}).then(function(response){
			return response.json();
		}).then(function(vens){});	
	}
	
	$("#selectVen").val(venId);
	$("#venForm").submit();
});


</script>

</body>

</html>