.bi-bell-fill[data-count]:after {
  position:relative;
  right:20%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}

ul#notify_ul {
    width: 400px;
    overflow-x: scroll;
}

a#display_all {
	background-color: lightgreen; 
	color: white; 
	text-align: center;
}