<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>

  <link rel="stylesheet" th:href="@{/front-end/css/booking.css}">
</head>
<body>
  <div class="container">
    <h1 class="form-title">預訂申請資料</h1>
    <h4 style="text-align: end; color: lightgrey;"><b>*為必填資料</b></h4>
    <form th:action="@{insert}" method="post" th:object="${venOrderVO}" enctype="multipart/form-data">
      
      <div class="main-user-info">
        <div class="user-input-box">
          <label for="memId">會員帳號<span class="star">*</span></label>
          <input type="text" th:field="*{memId}" onclick="hideContent('memId.errors');"/><br/>
          <span  th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}" class="error" id="memId.errors"></span>
        </div>

        <div class="user-input-box">
          <label for="orderDate">預訂日期<span class="star">*</span></label>
          <input type="date" th:field="*{orderDate}" onclick="hideContent('orderDate.errors');"/><br/>
          <span  th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}" class="error" id="orderDate.errors"></span>
        </div>

        <div class="user-input-box">
          <label for="memId">場地<span class="star">*</span></label>
          <select th:field="*{venVO.venId}" id="venid" onchange="getPrice()">
              <option th:value="0" selected>請選擇</option> 
              <option th:each="venVO : ${venListData}" th:value="${venVO.venId}" th:text="${venVO.venName + '&emsp;&emsp;＄' + venVO.venPrice}"/>
          </select>
          <span th:if="${#fields.hasErrors('venVO.venId')}" th:errors="*{venVO.venId}" class="error" id="venVO.venId.errors"></span>
        </div>

        <div class="user-input-box">
          <label for="memPhone">手機號碼<span class="star">*</span></label>
          <input type="text" th:field="*{memPhone}" onclick="hideContent('memPhone.errors');"/><br/>
          <span  th:if="${#fields.hasErrors('memPhone')}" th:errors="*{memPhone}" class="error" id="memPhone.errors"></span>
        </div>

        <div class="user-input-box">
          <label for="memTaxid">統一編號</label>
          <input type="text" th:field="*{memTaxid}" onclick="hideContent('memTaxid.errors');"/><br/>
          <span  th:if="${#fields.hasErrors('memTaxid')}" th:errors="*{memTaxid}" class="error" id="memTaxid.errors"></span>
        </div>

        <div class="user-input-box">
          <label for="userCount">預估人數<span class="star">*</span></label>
          <input type="text" th:field="*{userCount}" onclick="hideContent('userCount.errors');"/><br/>
          <span  th:if="${#fields.hasErrors('userCount')}" th:errors="*{userCount}" class="error" id="userCount.errors"></span>
        </div>
  
      </div>

      <div class="user-input-box" style="width: 100%">
        <label>活動內容概述<span class="star">*</span></label>
        <textarea class="actDescr_text" th:field="*{actDescr}" onclick="hideContent('actDescr.errors');" /></textarea><br/>
        <span  th:if="${#fields.hasErrors('actDescr')}" th:errors="*{actDescr}" class="error" id="actDescr.errors"></span>
      </div>

      <span class="pay-type-title">付款方式<span class="star">*</span></span>
      <div class="pay-type-box">
        <div class="pay-type-category">
          <input type="radio" name="pay-type" id="credit" value="1" th:field="*{orderPayType}" onclick="hideContent('orderPayType.errors');">
          <label for="credit">信用卡</label>
          <input type="radio" name="pay-type" id="transfer" value="2" th:field="*{orderPayType}" onclick="hideContent('orderPayType.errors');">
          <label for="transfer">線上轉帳</label>
        </div>
        
        <div class="ven-res-fee">
          <label>場地訂金：</label>
          <input type="hidden" id="price" value="" th:field="*{venResFee}">
          <span id="viewPrice"></span>
        </div>
      </div>
      <span  th:if="${#fields.hasErrors('orderPayType')}" th:errors="*{orderPayType}" class="error" id="orderPayType.errors"></span>
      
      
      <!-- -------------------- credit card -------------------- -->
      
      <div class="container-right" style="display:none;">
        <div class="card">
            <div class="intern">
                <img class="approximation" src="/front-end/images/aprox.png" alt="aproximation">
                <img class="chip" src="/front-end/images/chip.png" alt="chip">
                <div class="card-number">
                    <label>Account Number</label>
                    <input class="number-vl" placeholder="1234123412341234";/>
                </div>
                <div class="card-holder">
                    <label>Holder</label>
                    <input class="number-vl" placeholder="Aaron";/>
                </div>
                <div class="card-infos">
                    <div class="exp">
                        <label>valid-thru</label>
                        <input class="number-v2" placeholder="08/28";/>
                    </div>
                    <div class="cvv">
                        <label>CVV</label>
                        <input class="number-v2" placeholder="123"/>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
      
    <!-- -------------------- credit card -------------------- -->
      
      <div class="form-submit-btn">
        <input type="submit" value="確認送出">
      </div>

    </form>
  </div>
  
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

function getPrice() {

	pick = $("#venid").val();
	if (pick == 0){
		document.getElementById('viewPrice').innerHTML = "";
	} else {
	    let p = $("#venid").find(":selected").first().text().split("＄")[1];
	   	let halfprice = (parseFloat(p)/2).toFixed(2);
	    $("#price").val(halfprice);
	    document.getElementById('viewPrice').innerHTML = '$ '+ halfprice +' .US';
	}
    
}

$("#credit").on("click", function(){
    $(".container-right").css("display", "block");
  });

</script>
</body>
</html>