<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Form Reviews</title>

    <link rel="stylesheet" th:href="@{/front-end/07/css/feedback_form.css}">
  
</head>

<body>

    <div class="wrapper">
        <h3>場地使用滿意度</h3>
   <form id="feedback_form" th:action="@{feedback}" method="post" th:object="${venOrderVO}">
            <div class="rating">
            <input id="venRating" th:field="*{venRating}" type="hidden" name="rating" value="">
                <i id="star" class='bx bx-star star' style="--i: 0;" data-star="1"></i>
                <i id="star" class='bx bx-star star' style="--i: 1;" data-star="2"></i>
                <i id="star" class='bx bx-star star' style="--i: 2;" data-star="3"></i>
                <i id="star" class='bx bx-star star' style="--i: 3;" data-star="4"></i>
                <i id="star" class='bx bx-star star' style="--i: 4;" data-star="5"></i>
            </div>
            <span id="rating_error" style="color: red; font-weight: bold"></span>
            <textarea id="vencom" th:field="*{venCom}" name="opinion" cols="30" rows="5" placeholder="您的回饋..."></textarea>
            
            
            <input type="hidden" th:field="*{venOrderId}" readonly/>
            <input type="hidden" th:field="*{venVO.venId}" readonly/>
            <input type="hidden" th:field="*{memVO.memId}" readonly/>
            <input type="hidden" th:field="*{orderDate}" readonly>
            <input type="hidden" th:field="*{memPhone}" readonly>
            <input type="hidden" th:field="*{actDescr}" readonly>
            <input type="hidden" th:field="*{userCount}" readonly>
            <input type="hidden" th:field="*{memTaxid}" readonly>
            <input type="hidden" th:field="*{orderTime}" readonly>
            <input type="hidden" th:field="*{orderPayType}" readonly>
            <input type="hidden" th:field="*{memTransferNum}" readonly>
            <input type="hidden" th:field="*{memCreditNum}" readonly>
            <input type="hidden" th:field="*{orderStatus}" readonly>
            <input type="hidden" th:field="*{venRentStatus}" readonly>
            <input type="hidden" th:field="*{venResFee}" readonly>
            
            <div class="btn-group">
                <button type="submit" class="btn submit">確認</button>
            </div>
        </form>
    </div>
    
    
<script th:src="@{/front-end/07/js/feedback_form.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    
<script type="text/javascript">

$(document).ready(function() {
    
    $("div.rating").on("click", "i#star", function(){
    	let star_data = parseInt($(this).attr("data-star"));
    	console.log(star_data);
    	$("input#venRating").val("");
    	$("input#venRating").val(star_data);
    	$("#rating_error").hide();
    });
	
    
    $("#feedback_form").submit(function() {
        
        var venRatingValue = $("#venRating").val();
        
        if (venRatingValue == 0) {
            $("#rating_error").text("請給予評分").show();
            return false;
        } else {
            $("#rating_error").hide();
            return true;
        }
    });
    
});


</script>    
  
</body>
</html>