<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>場地訂單資料 - listOneVenOrder.html</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/listOne.css}">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>場地訂單資料</h2></div>
		 
		 <div class="nav-content">
		      
		      <div>
		          <a class="back" th:href="@{/back_end/ven-order/ven_order_page}">
		              <<<<<< 回查詢頁</a>
              </div>
              
         </div>
</nav>

	<div align="center">

        <div id="center" align="center">
        
            <div class="has_two">
                <span class="title">訂單編號:</span><span th:text="${venOrderVO.venOrderId}"></span>
                
                <div class="text_block">
                    <span class="title">活動概述:</span>
                    <textarea th:text="${venOrderVO.actDescr}" readonly></textarea><br/>
                </div>
            </div>
            
            <span class="title">場地:</span><span th:text="${venOrderVO.venVO.venName}"></span>
            <span class="title">會員帳號:</span><span th:text="${venOrderVO.memVO.memName}"></span><br/>
            <span class="title">負責員工:</span><span th:text="${venOrderVO.empId}"></span>
            <span class="title">預約日期:</span><span th:text="${venOrderVO.orderDate}"></span><br/>
            <span class="title">手機號碼:</span><span th:text="${venOrderVO.memPhone}"></span>
            <span class="title">預估人數:</span><span th:text="${venOrderVO.userCount}"></span><br/>
            <span class="title">公司統編:</span><span th:text="${venOrderVO.memTaxid}"></span>
            <span class="title">訂單成立時間:</span><span th:text="${venOrderVO.orderTime}"></span><br/>
            <span class="title">付款方式:</span><span th:text="${venOrderVO.orderPayType}"></span>
            <span class="title">會員轉帳帳號:</span><span th:text="${venOrderVO.memTransferNum}"></span><br/>
            <span class="title">信用卡卡號:</span><span th:text="${venOrderVO.memCreditNum}"></span>
            <span class="title">訂單狀態:</span><span th:text="${venOrderVO.orderStatus}"></span><br/>
            <span class="title">租借狀態:</span><span th:text="${venOrderVO.venRentStatus}"></span>
            <span class="title">場地滿意度:</span><span th:text="${venOrderVO.venRating}"></span><br/>
            <span class="title">使用評論:</span><span th:text="${venOrderVO.venCom}"></span>
            <span class="title">評論狀態:</span><span th:text="${venOrderVO.venComStatus}"></span><br/>
            <span class="title">評論時間:</span><span th:text="${venOrderVO.venComTime}"></span>
            <span class="title">場地訂金:</span><span th:text="${venOrderVO.venResFee}"></span><br/>
                  
        </div>
        
        
        <div>
            <form method="post" th:action="@{getOne_For_Update}">
                <input type="hidden" name="venOrderId" th:value="${venOrderVO.venOrderId}">
                <button class="submit_button" type="submit" style="padding: 5px;">修改資料</button>
            </form>
        </div>

	</div>

</body>
</html>