<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>修改場地訂單資料</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/update.css}">

<!--   首頁的css   -->
<link rel="stylesheet" th:href="@{/back-end/10/css/error.css}">
<link rel="stylesheet" th:href="@{/back-end/10/css/emp_Index.css}">


<style>
/* ==================== header 區域 ==================== */
header.header {
  z-index: 100 !important;
  border: 2px solid #d68a8a;
  top: 0;
  width: 100%;
  position: sticky;
  height: var(--header-height);
  background-color: #e8bfbc;
}

h1 {
  /* border: 2px solid red; */
  font-size: 30px;
  color: #474c66;
}

p {
  /* border: 2px solid red; */
  margin-top: -38px;
  margin-left: 870px;
  color: #262e54;

}

header.header ul>li {
  /* border: 2px solid red; */
  margin-top: -40px;
  margin-left: 1100px;
  font-size: 20px;
  list-style: none;
}

header.header ul>li>a {
  color: #35394c;
  text-decoration: none;
  font-weight: bold
}

header.header button.btn_hamburger {
  display: none;
}
</style>


</head>

<body onload="showDivsBasedOnDeptno()">

    <!-- header -->
    <!--     <div th:insert="~{/back-end/emp_Index :: header-div}"></div> -->

    <header class="header">
        <h1>【做伙後台管理系統】</h1>
        
        <p>歡迎您，
        <span id="deptNumber" th:text="${deptno}" style="display: none;">部門編號</span>
        <span th:text="${dname}">部門名稱</span>
        </p>
        <nav>
            <ul>
                <li><a href="/login?logout=true" onclick="logout()">登出</a></li>
            </ul>
        </nav>
    </header>

    <!-- aside -->
    <div th:insert="~{/back-end/emp_Index :: aside-div}"></div>


<main class="main">
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center"> <h3 style="margin: 0px">修改場地訂單資料</h3></div>
		 
	<div class="nav_div">  	 
		 
		 <div class="nav-content" style="margin-bottom: 0px">
		      <div style="text-align: center;">
		          <a class="back" th:href="@{/back_end/ven-order/ven_order_page}">
		              <<< 回查詢頁</a>
              </div>
         </div>
    </div>     
         
	<div class="extra_error" th:text="${hasOrder}"></div>
		 
</nav>

	<div align="center">

        <div id="center" align="center">
        <form id="this_form" th:action="@{update}" method="post" th:object="${venOrderVO}" >
            
            <div class="has_two">
	            <div>
	                <span class="title">訂單編號:</span>
	                <input class="immutable" type="text" th:field="*{venOrderId}" readonly/>
	            </div>
	            
	            <div>
	                <span class="title">場地:</span>
	                <select th:field="*{venVO.venId}">
	                    <option th:each="venVO : ${venOnListData}" th:value="${venVO.venId}" th:text="${venVO.venName}" />
	                </select>
	            </div>
            </div>
	            
            <div class="has_two">
	            <div>
	                <span class="title">會員帳號:</span>
	                <input class="immutable" type="text" th:field="*{memVO.memId}" readonly/>
	            </div>
	            
	            <div>
	                <span class="title">負責員工:</span>
	                <input class="immutable" th:value="${empName}" readonly/>
	                <input id="empId" type="hidden" class="immutable" th:field="*{empVO.empId}" value="" readonly/>
	            </div>
            </div>
	            
            <div class="has_two">
	            <div>
	                <span class="title">預約日期:</span>
	                <input type="date" th:field="*{orderDate}" id="datepicker" /><br/>
	            </div>
	            
	            <div>
	                <span class="title">手機號碼:</span>
	                <input id="memPhone" type="text" th:field="*{memPhone}" /><br/>
	                <span class="error" id="memPhone_error"></span>
	            </div>
            </div>
            
            <div class="has_two">
	            <div>  
	                <span class="title">預估人數:</span>
	                <input id="userCount" type="text" th:field="*{userCount}" /><br/>
	                <span class="error" id="userCount_error"></span>
	            </div>
	            
	            <div>
	                <span class="title">公司統編:</span>
	                <input id="taxid" type="text" th:field="*{memTaxid}"/><br/>
	                <span class="error" id="taxid_error"></span>
	            </div>
            </div>
            
            <div class="has_two">
	            <div>
	                <span class="title">訂單成立時間:</span>
	                <input class="immutable" th:value="${#dates.format(venOrderVO.orderTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
	                <input type="hidden" class="immutable" th:field="${venOrderVO.orderTime}" readonly />
	            </div>
	            
	            <div>
	                <span class="title">付款方式:</span>
	                <input th:if="${venOrderVO.orderPayType} == 1" class="immutable" th:value="信用卡" readonly/>
	                <input th:if="${venOrderVO.orderPayType} == 2" class="immutable" th:value="轉帳" readonly/>
	                <input type="hidden" class="immutable" th:field="*{orderPayType}" readonly/>
	            </div>
            </div>
	            
            <div class="has_two">
	            <div>
	                <span class="title">會員轉帳帳號:</span>
	                <input class="immutable" type="text" th:field="*{memTransferNum}" readonly />
	            </div>
	            
	            <div>    
	                <span class="title">信用卡卡號:</span>
	                <input class="immutable" type="text" th:field="*{memCreditNum}" readonly/>
	            </div>
            </div>
            
            <div class="has_two">
	            <div>
	                <span class="title">訂單狀態:</span>
	                <input th:if="${venOrderVO.orderStatus} == 1" class="immutable" th:value="已付款" readonly/>
                    <input th:if="${venOrderVO.orderStatus} == 2" class="immutable" th:value="已取消" readonly/>
                    <input th:if="${venOrderVO.orderStatus} == 3" class="immutable" th:value="已退款" readonly/>
	                <input type="hidden" th:field="*{orderStatus}" readonly /><br/>
	            </div>
	            
	            <div>
	                <span class="title">租借狀態:</span>
	                <input th:if="${venOrderVO.venRentStatus} == 1" class="immutable" th:value="CheckIn" readonly/>
                    <input th:if="${venOrderVO.venRentStatus} == 2" class="immutable" th:value="CheckOut" readonly/>
                    <input th:if="${venOrderVO.venRentStatus} == 3" class="immutable" th:value="Done" readonly/>
	                <input type="hidden" th:field="*{venRentStatus}" readonly /><br/>
	            </div>
            </div>
	            
            <div class="has_two">
	            <div>    
	                <span class="title">場地滿意度:</span>
	                <input class="immutable" type="text" th:field="*{venRating}" readonly/>
	            </div>
	            
	            <div>
                    <span class="title">評論狀態:</span>
                    <select th:field="*{venComStatus}">
                        <option th:value="1" th:text="可顯示評論" />
                        <option th:value="2" th:text="不允許顯示評論" />
                    </select>
                </div>
            </div>
            
            <div class="has_two">
                <div>
                    <span class="title">場地訂金:</span>
                    <input class="immutable" type="text" th:field="*{venResFee}" readonly/>
                </div> 
	            
	            <div>
                    <span class="title">評論時間:</span>
                    <input th:if="${venOrderVO.venComTime ne null}" class="immutable" th:value="${#dates.format(venOrderVO.venComTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    <input th:unless="${venOrderVO.venComTime ne null}" class="immutable" th:value="無" readonly>
                </div>
            </div>
            
            <div class="has_two">
                <div class="text_block">
                    <span class="title">活動概述:</span>
                    <textarea class="immutable" th:field="*{actDescr}" readonly /></textarea>
                </div>
                
	            <div class="text_block">
                    <span class="title">使用評論:</span>
                    <textarea class="immutable" th:field="*{venCom}" readonly /></textarea><br/>
                </div>
            </div>
                  
            <div class="submit_button">
                <button class="submit_button" type="submit">確認修改</button>
            </div>    
             
       </form>
       </div>

	</div>
</main>	
	
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>	

<script th:src="@{/back-end/10/js/jquery-1.11.3.min.js}"></script>
<!-- 左側jquery為table分頁用 -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--   首頁的js   -->
<script th:src="@{/back-end/10/js/aside.js}"></script>
	
<script th:inline="javascript">
/*<![CDATA[*/
let user = /*[[${empId}]]*/'';
/*]]>*/
</script>

<script type="text/javascript">

$(document).ready(async function(){
	$('#empId').val(user);
});

var ordereddate = $('#datepicker').val();

$('#datepicker').change(async function() {
    
    let selectedDate = $(this).val();
    let compareTime = new Date(selectedDate);
    let today = new Date();
    
    if (compareTime < today){
    	$('#datepicker').val(ordereddate);
    	alert("日期不可小於今日");
    }
    
});


$(document).ready(function() {
    
    $("#memPhone").focus(function(){
        $("#memPhone_error").hide();
    });
    
    $("#this_form").submit(function() {
        
        var memPhoneValue = $("#memPhone").val();
        
        if ((/^\d{10}$/.test(memPhoneValue))) {
            $("#memPhone_error").hide();
            return true;
        }else{
            $("#memPhone_error").text("請填入正確手機號碼").show();
            return false;
        } 
    });
});


$(document).ready(function() {
    
    $("#userCount").focus(function(){
        $("#userCount_error").hide();
    });
    
    $("#this_form").submit(function() {
        
        var userCountValue = $("#userCount").val();
        
        if ((/^\d{2}$/.test(userCountValue))) {
            $("#userCount_error").hide();
            return true;
        }else{
            $("#userCount_error").text("請填入正確人數").show();
            return false;
        } 
    });
});


$(document).ready(function() {
	
	$("#taxid").focus(function(){
        $("#taxid_error").hide();
    });
	
    $("#this_form").submit(function() {
        var taxidValue = $("#taxid").val();
        
        if ((/^\d{8}$/.test(taxidValue)) || taxidValue.trim() == "") {
            $("#taxid_error").hide();
            return true;
        } else {
            $("#taxid_error").text("統一編號輸入錯誤").show();
            return false;
        }
    });

});



</script>


</body>
</html>