<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>公告資料</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/listOne.css}">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
         <div align="center"> <h2>公告資料</h2></div>
         
         <div class="nav-content">
              
              <div>
                  <a class="back" th:href="@{/back_end/announcement/ann_page}">
                      <<<<<< 回查詢頁</a>
              </div>
              
         </div>
</nav>

    <div align="center">

        <div id="center" align="center">
        
            <span class="title">公告編號:</span><span th:text="${announcementVO.annId}"></span><br/>
            <span class="title">編輯人員:</span><span th:text="${announcementVO.empVO.empId+' / '+announcementVO.empVO.empName}"></span><br/>
            <span class="title">公告時間:</span><span th:text="${#dates.format(announcementVO.annTime, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>      
            <span class="title">公告標題:</span><span th:text="${announcementVO.annName}"></span><br/>
            <div class="text_block">
                <span class="title">公告內容:</span>
                <textarea class="texthighter" th:text="${announcementVO.annDescr}" readonly></textarea>
            </div>
            
        </div>        
        
        <div>
            <form method="post" th:action="@{getOne_For_Update}">
                <input type="hidden" name="annId" th:value="${announcementVO.annId}">
                <button class="submit_button" type="submit" style="padding: 5px;">修改資料</button>
            </form>
        </div>

    </div>

</body>
</html>