<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>公告資料</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/listOne.css}">
<!--   首頁的css   -->
<link rel="stylesheet" th:href="@{/back-end/10/css/error.css}">
<link rel="stylesheet" th:href="@{/back-end/10/css/emp_Index.css}">


</head>

<body onload="showDivsBasedOnDeptno()">

    <!-- header -->
    <div th:insert="~{/back-end/emp_Index :: header-div}"></div>

    <!-- aside -->
    <div th:insert="~{/back-end/emp_Index :: aside-div}"></div>
     
     
<main class="main">
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
         <div align="center"> <h2>公告資料</h2></div>
         
         <div class="nav-content">
              
              <div>
                  <a class="back" th:href="@{/back_end/announcement/ann_page}">
                      <<<<<< 回查詢頁</a>
              </div>
              
              <div>
	            <form method="post" th:action="@{getOne_For_Update}">
	                <input type="hidden" name="annId" th:value="${announcementVO.annId}">
	                <button class="submit_button" type="submit" style="padding: 5px;">修改資料</button>
	            </form>
              </div>
              
         </div>
</nav>

    <div align="center">

        <div id="center" align="center">
        
            <span class="title">公告編號:</span><span class="content" th:text="${announcementVO.annId}"></span><br/>
            <span class="title">編輯人員:</span><span class="content" th:text="${announcementVO.empVO.empId+' / '+announcementVO.empVO.empName}"></span><br/>
            <span class="title">公告時間:</span><span class="content" th:text="${#dates.format(announcementVO.annTime, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>      
            <span class="title">公告標題:</span><span class="content" th:text="${announcementVO.annName}"></span><br/>
            <div class="text_block">
                <span class="title">公告內容:</span>
                <textarea class="texthighter" th:text="${announcementVO.annDescr}" readonly></textarea>
            </div>
            
        </div>        
        
    </div>
</main>

<script th:src="@{/back-end/10/js/jquery-1.11.3.min.js}"></script>
<!-- 左側jquery為table分頁用 -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--   首頁的js   -->
<script th:src="@{/back-end/10/js/aside.js}"></script>

</body>
</html>