<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>新增公告</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/add.css}">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
         <div align="center"> <h2>新增通知訊息</h2></div>
         
         <div class="nav-content">
              
              <div>
                  <a class="back" th:href="@{/back_end/notify/notify_page}">
                      <<<<<< 回查詢頁</a>
              </div>
              
         </div>
</nav>

    <div align="center">

        <div id="center" align="center">
        <form th:action="@{insert}" method="post" th:object="${notifyVO}">
            
            <div>
				<span class="title">會員帳號:</span>
				<select th:field="*{memVO.memId}">
                    <option th:each="memVO : ${membershipListData}" th:value="${memVO.memId}" th:text="${memVO.memId+' / '+memVO.memName}" />
                </select>
            </div>
            
            <div>
                <span class="title">通知標題:</span>
                <select th:field="*{notifyTitle}">
                    <option th:value="一般通知" th:text="一般通知" />
                    <option th:value="活動通知" th:text="活動通知" />
                    <option th:value="場地通知" th:text="場地通知" />
                </select>
            </div>
            
            <div class="text_block">
                <span class="title">通知內容:</span>
                <textarea class="annDescr_text" th:field="*{notifyContent}" onclick="hideContent('notifyContent.errors');" /></textarea><br/>
            </div>
                <span th:if="${#fields.hasErrors('notifyContent')}" th:errors="*{notifyContent}" class="error" id="notifyContent.errors"></span>
            
            <div class="submit_button">
                <button type="submit">確認新增</button>
            </div>
             
       </form>
       </div>

        <span class="extra_error" th:text="${hasOrder}"></span>
    </div>
    
    
<script type="text/javascript">

    //清除提示信息
    function hideContent(d) {
        document.getElementById(d).style.display = "none";     
    }

</script>


</body>
</html>