<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" th:href="@{/back-end/emp_Index/css/emp_Index.css}">
<link rel="stylesheet" th:href="@{/back-end/07/css/listAll.css}">
<link rel="stylesheet" th:href="@{/back-end/07/css/data_table.css}">

<!--   首頁的css   -->
<link rel="stylesheet" th:href="@{/back-end/10/css/error.css}">
<link rel="stylesheet" th:href="@{/back-end/10/css/emp_Index.css}">


<title>會員通知管理</title>

</head>
<body onload="showDivsBasedOnDeptno()">

    <!-- header -->
	<div th:insert="~{/back-end/emp_Index :: header-div}"></div>

	<!-- aside -->
	<div th:insert="~{/back-end/emp_Index :: aside-div}"></div>
	

<main class="main">
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
         <div class="title"> 
              <div> <h2>會員通知總覽</h2></div>
              <div> <h4><a class="navbar-brand" href='addNotify'>新增通知</a></h4></div>
         </div>
</nav>

<table style="table-layout: automatic;" id="example" class="display">
        <thead>
            <tr>
                <th class="th_title">查看</th>
                <th class="th_title">通知時間</th>
                <th class="th_title">通知編號</th>
                <th class="th_title">會員帳號</th>
                <th class="th_title">通知標題</th>
                <th class="th_title">通知狀態</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="notifyVO : ${notifyListData}">
                <tr>       
                
                    <td>
                       <form method="post" th:action="@{getOne_For_Display}" style="margin-bottom: 0px;">
                            <input class="getOne-button" type="submit" value="查看">
                            <input type="hidden" name="notifyId" th:value="${notifyVO.notifyId}">
                       </form>
                    </td>
                                             
	                <td th:text="${#dates.format(notifyVO.notifyTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${notifyVO.notifyId}"></td>
	                <td th:text="${notifyVO.memVO.memId+' / '+notifyVO.memVO.memName}"></td>
	                <td th:text="${notifyVO.notifyTitle}"></td>
	                <td th:if="${notifyVO.notifyStatus == 1}" th:text="未讀"></td>
                    <td th:if="${notifyVO.notifyStatus == 2}" th:text="已讀"></td>
	                                   
                </tr>
            </th:block>
        </tbody>
        <tfoot>
            <tr>
                <th class="th_title">查看</th>
                <th class="th_title">通知時間</th>
                <th class="th_title">通知編號</th>
                <th class="th_title">會員帳號</th>
                <th class="th_title">通知標題</th>
                <th class="th_title">通知狀態</th>
            </tr>
        </tfoot>
    </table>
    
</main>


<script th:src="@{/back-end/07/js/jquery-3.7.0.js}"></script>
<script th:src="@{/back-end/emp_Index/js/emp_Index.js}"></script>
<script th:src="@{/back-end/07/js/data_table.js}"></script>
<script th:src="@{/back-end/07/js/data_table_menu.js}"></script>
<script th:src="@{/back-end/10/js/jquery-1.11.3.min.js}"></script>

</body>
</html>