<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/back-end/css/addAnn.css}">

<title>通知訊息修改 - updateNotify.html</title>

<head>
<style type="text/css">
    
    button {
        padding: 5px;
    }
    form {
        display: table;
    }
    form div {
        display: table-row;
    }
    label, input, span, select {
        display: table-cell;
        margin: 5px;
        text-align: left;       
    }
    input[type=text], input[type=password], select, textarea {
        width: 200px;
        margin: 5px;
    }
    form div div {
        display: table-cell;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center"> <h2>公告修改</h2></div>
    <h3><a class="navbar-brand" th:href="@{/back-end/notify/listAllNotify}">回查詢頁</a></h3>
</nav>

    <h4 style="text-align: end;"><b>*所有欄位皆為必填欄位</b></h4>
    <section class="sec_form">
        <form th:action="@{update}" method="post"  th:object="${notifyVO}" enctype="multipart/form-data">
  
            <div class="item_block">
                <label>通知訊息編號</label>
                <input type="text" th:field="*{notifyId}" onclick="hideContent('notifyId.errors');"/><br/>
                <span  th:if="${#fields.hasErrors('notifyId')}" th:errors="*{notifyId}" class="error" id="notifyId.errors"></span>
            </div>
  
            <div class="item_block">
                <label>會員編號</label>
                <input type="text" th:field="*{memId}" onclick="hideContent('memId.errors');" placeholder="請輸入員工編號"/><br/>
                <span  th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}" class="error" id="memId.errors"></span>
            </div>
    
            <div class="item_block">
                <label>通知訊息標題</label>
                <input type="text" th:field="*{notifyTitle}" onclick="hideContent('notifyTitle.errors');" placeholder="請輸入標題名稱"/><br/>
                <span  th:if="${#fields.hasErrors('notifyTitle')}" th:errors="*{notifyTitle}" class="error" id="notifyTitle.errors"></span>
            </div>
    
            <div class="item_block -text">
                <label>訊息內容</label>
                <textarea class="annDescr_text" th:field="*{notifyContent}" onclick="hideContent('notifyContent.errors');" /></textarea><br/>
                <span  th:if="${#fields.hasErrors('notifyContent')}" th:errors="*{notifyContent}" class="error" id="notifyContent.errors"></span>
            </div>
            
            <div class="item_block -text">
                <label>訊息內容</label>
                <textarea class="annDescr_text" th:field="*{notifyStatus}" onclick="hideContent('notifyStatus.errors');" /></textarea><br/>
                <span  th:if="${#fields.hasErrors('notifyStatus')}" th:errors="*{notifyStatus}" class="error" id="notifyStatus.errors"></span>
            </div>
            
    
            <div class="item_block">
                <label></label>
                <button type="submit">確認修改</button>
            </div>     
       </form>
    </section>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

</script>

</body>
</html>