section.sec_form{
  /* border: 1px solid black; */
  padding: 50px 0;
  background: linear-gradient(white, #b0c4de);
  min-width: 1000px;
}

section.sec_form h1.title1{
  text-align: center;
  /* border: 1px solid red; */
  margin: 0;
}

form.ann_form{
  /* border: 1px solid green; */
  width: 800px;
  margin: 0 auto;
}
form.ann_form div.item_block{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
form.ann_form div.item_block:last-child{
  margin-bottom: 0;
}

form.ann_form div.item_block label{
  /* border: 1px solid red; */
  flex-basis: 100px;
  flex-shrink: 0;
  text-align: right;
  margin-right: 5px;
}

form.ann_form div.item_block input.pk_item{
	background-color: whitesmoke;
	border: none;
}
form.ann_form div.item_block input.pk_item:focus{
	outline: none;
}

form.ann_form div.item_block input,
form.ann_form div.item_block select,
form.ann_form div.item_block textarea,
form.ann_form div.item_block button{
  flex-grow: 1;
  padding: 8px 5px 5px;
  font-size: 18px;
}

form.ann_form div.item_block textarea{
  height: 180px;
}

form.ann_form div.item_block.-text label{
  align-self: flex-start;
}

form.ann_form div.item_block button:hover{
  border-color: white;
  background-color: #b0c4de;
  color: white;
}
form.ann_form div.item_block button:active{
  box-shadow: 0px 0px 8px black inset;
}