<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>新增場地關閉日期</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/add.css}">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
         <div align="center"> <h2>新增場地關閉日期</h2></div>
         
         <div class="nav-content">
              
              <div>
                  <a class="back" th:href="@{/back_end/ven-closed/ven_closed_date}">
                      <<<<<< 回查詢頁</a>
              </div>
              
         </div>
</nav>

    <div align="center">

        <div id="center" align="center">
        <form th:action="@{insert}" method="post" th:object="${venClosedVO}">
        
<!--             <div th:each="venVO : ${venListData}"> -->
<!--                 <input type="checkbox" th:field="*{venVO.venId}" th:value="${venVO.venId}" /> -->
<!--                 <label th:for="${'checkbox_' + venVO.venId}" th:text="${venVO.venName}"></label> -->
<!--                 <span th:if="${#fields.hasErrors('venVO.venId')}" th:errors="*{venVO.venId}" class="error" id="venVO.venId.errors"></span> -->
<!--             </div> -->
            
            <div>
                <span class="title">選擇場地:</span>
                <select th:field="*{venVO.venId}">
                    <option th:each="venVO : ${venListData}" th:value="${venVO.venId}" th:text="${venVO.venName}" />
                </select>
            </div>
        
            <div>
                <span class="title">不開放日期:</span>
                <input id="datepicker" type="date" th:field="*{closedDate}" /><br/>
            </div>
            
            <div class="text_block">
                <span class="title">不開放原因:</span>
                <textarea class="texthighter" th:field="*{closedReason}" onclick="hideContent('closedReason.errors');"/></textarea><br/> 
            </div>
                <span  th:if="${#fields.hasErrors('closedReason')}" th:errors="*{closedReason}" class="error" id="closedReason.errors"></span><br/>   
                
            <div class="submit_button">
                <button type="submit">確認新增</button>
            </div>    
             
       </form>
       </div>

        <span class="extra_error" th:text="${hasOrder}"></span>
    </div>
    
    
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>     

<script type="text/javascript">

$('#datepicker').change(async function() {
    
    let selectedDate = $(this).val();
    let compareTime = new Date(selectedDate);
    let today = new Date();
    
    if (compareTime < today){
        $('#datepicker').val("");
        alert("日期不可小於今日");
    }
    
});

    //清除提示信息
    function hideContent(d) {
        document.getElementById(d).style.display = "none";     
    }

</script>


</body>
</html>