<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>新增場地訂單</title>

<link rel="stylesheet" th:href="@{/back-end/07/css/add.css}">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
         <div align="center"> <h2>新增場地訂單</h2></div>
         
         <div class="nav-content">
              
              <div>
                  <a class="back" th:href="@{/back_end/ven-order/ven_order_page}">
                      <<<<<< 回查詢頁</a>
              </div>
              
         </div>
</nav>

    <div align="center">

        <div id="center" align="center">
        <form th:action="@{insert}" method="post" th:object="${venOrderVO}" enctype="multipart/form-data">
            
            <div class="has_two">
                <div>
                    <span class="title">負責員工:</span>
                    <input class="immutable" type="text" th:field="*{empId}" />
                </div>
                
                <div>
                    <span class="title">會員帳號:</span>
                    <input class="immutable" type="text" th:field="*{memVO.memId}" />
                </div>
            </div>
            
            <div class="has_two">
                <div>
                    <span class="title">預約日期:</span>
                    <input type="date" th:field="*{orderDate}" onclick="hideContent('orderDate.errors');"/><br/>
                    <span  th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}" class="error" id="orderDate.errors"></span>
                </div>
                
                <div>
                    <span class="title">場地:</span>
                    <select th:field="*{venVO.venId}">
                        <option th:each="venVO : ${venListData}" th:value="${venVO.venId}" th:text="${venVO.venName}" />
                    </select>
                </div>
            </div>
            
            <div class="has_two">
                <div>
                    <span class="title">手機號碼:</span>
                    <input type="text" th:field="*{memPhone}" onclick="hideContent('memPhone.errors');"/><br/>
                    <span  th:if="${#fields.hasErrors('memPhone')}" th:errors="*{memPhone}" class="error" id="memPhone.errors"></span>
                </div>
                
                <div>  
                    <span class="title">預估人數:</span>
                    <input type="text" th:field="*{userCount}" onclick="hideContent('userCount.errors');"/><br/>
                    <span  th:if="${#fields.hasErrors('userCount')}" th:errors="*{userCount}" class="error" id="userCount.errors"></span>
                </div>
            </div>
            
            <div class="has_two">
                <div>
                    <span class="title">付款方式:</span>
                    <input type="text" th:field="*{orderPayType}" onclick="hideContent('orderPayType.errors');"/><br/>
                    <span  th:if="${#fields.hasErrors('orderPayType')}" th:errors="*{orderPayType}" class="error" id="orderPayType.errors"></span>
                </div>
                
                <div>
                    <span class="title">場地訂金:</span>
                    <input type="text" th:field="*{venResFee}"/>
                </div>
            </div>
            
                <div class="text_block">
                    <span class="title">活動概述:</span>
                    <textarea th:field="*{actDescr}" onclick="hideContent('actDescr.errors');" /></textarea>
                </div>
            
            <div style="display: flex; justify-content: center;">
                    <span style="text-align: center;" th:if="${#fields.hasErrors('actDescr')}" th:errors="*{actDescr}" class="error" id="actDescr.errors"></span>
            </div>
                  
            <div class="submit_button">
                <button type="submit">確認新增</button>
            </div>    
             
       </form>
       </div>

        <span class="extra_error" th:text="${hasOrder}"></span>
    </div>
    
    
<script type="text/javascript">

    //清除提示信息
    function hideContent(d) {
        document.getElementById(d).style.display = "none";     
    }

</script>


</body>
</html>